@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    border-radius: 3px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #333;
}

input{
    border: 0.5px solid black;
    border-radius: 3px;
}

select{
    border: 0.5px solid black;
    border-radius: 3px;
}
.container {
    margin: 50px auto;
    width: 30%;
    border-radius: 3px; 
    border: 1px solid #ddd;
}

.title {
    background-color: #ddd;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

.buttons {
    text-align: center;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #1d1d1d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #191dff;
}

.extrato {
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
}

.extrato th {
    background-color: #020202;
    color: #fff;
    display: flex;
    justify-content: center;
}

#categoria{
    margin-top: 5px;
    width: 100%;
}

#valor{
    margin-top: 5px;
    width: 100%;
}

#data{
    margin-top: 5px;
    width: 100%;
}

