@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

img {
    width: 55px;
}

table {
    border: 1px solid #999999;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    width: 35%;
    max-width: 100%;
    color: #333;
    font-size: 12px;
    line-height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #afafaf44;
}

th {
    font-weight: bold;
    background-color: #f8f8f8d5;
    text-align: left;
}

select {
    font-size: 11px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
}

footer {
    padding: 10px;
}

.checkbox-container {
    font-size: 11px;
    transform: scale(0.96);
}

.radio-container {
    font-size: 11px;
    transform: scale(0.96);
}

.titulo {
    text-align: center;
}

.subtitulo {
    text-align: center;
}

.icone-escola {
    display: flex;
    justify-content: center;
}

.dados {
    font-size: 12px;
    margin-bottom: 2rem;
}

.erro {
    margin-bottom: 2rem;
    color: #d32b01;
    margin-top: 2rem;
}

.dados input[type='text'],
.dados input[type='date'],
.dados input[type='tel'] {
    width: 98%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #cccccce1;
    font-size: 11px;
    margin-top: 0.5rem;
}

.final-buttons {
    display: flex;
    justify-content: center;
}

.submit-button button {
    font-size: 11px;
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.submit-button button:hover {
    background-color: #239406;
}

.submit-button button:active {
    background-color: #0f9203;
}

.reset-button button {
    font-size: 11px;
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.reset-button button:hover {
    background-color: #d32b01;
}

.reset-button button:active {
    background-color: #ff0000;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}

::-webkit-input-placeholder {
    font-size: 11px;
}

@media only screen and (max-width: 768px) {

    table,
    table tbody,
    table tr,
    table td,
    table th {
        display: block;
        width: 80%;
    }
}

@media screen and (max-width: 377px) {
    table {
        display: table;
        overflow-x: auto;
        border-collapse: collapse;
        white-space: nowrap;
    }

    tr {
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.5em;
    }

    td {
        display: block;
        text-align: right;
        padding: 0.5rem;
    }
}