@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}
img{
    width: 75px;
}



table {
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    color: #333;
    font-size: 13px;
    line-height: 1.4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
th,
td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #eee;
}

th {
    font-weight: bold;
    background-color: #f8f8f8;
    text-align: left;
}

@media screen and (max-width: 377px) {
table {
    display: table;
    overflow-x: auto;
    border-collapse: collapse;
    white-space: nowrap;
}

tr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}

td {
    display: block;
    text-align: right;
    padding: 0.5rem;
}

}

select {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
}

.titulo{
    text-align: center;
}

.subtitulo{
    text-align: center;
}

.icone-escola{
    display: flex;
    justify-content: center;
}

.dados {
    margin-bottom: 2rem;
}

.erro{
    margin-bottom:2rem;
    color:#d32b01;
    margin-top: 2rem;;
}

.dados input[type="text"],
.dados input[type="date"],
.dados input[type="tel"] {
    width: 98%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.final-buttons{
    text-align: center;
}

.submit-button button {
    display: inline-block;
    background-color: #353535; 
    color: white;
    border: none; 
    padding: 12px 24px;
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.submit-button button:hover {
    background-color: #239406; 
}

.submit-button button:active {
    background-color: #0f9203; 
}

.reset-button button {
    display: inline-block;
    background-color: #353535; 
    color: white;
    border: none; 
    padding: 12px 24px;
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.reset-button button:hover {
    background-color: #d32b01; 
}

.reset-button button:active {
    background-color: #ff0000; 
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}

#serie{
    text-align: left;
}


@media only screen and (max-width: 768px) {
    table,
    table tbody,
    table tr,
    table td,
    table th {
        display: block;
        width: 80%;
    }
}
